{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Lista de Grupos</h2>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'grupo_create' %}" class="btn btn-success">Nuevo Grupo</a>
        <a href="{% url 'catalogo' %}" class="btn btn-secondary">Regresar</a>
    </div>
    

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th><a href="?ordenar=nombre">Nombre</a></th>
                <th><a href="?ordenar=estatus_text">Estatus</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.get_estatus_display }}</td>
                <td>
                    <a href="{% url 'grupo_update' grupo.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'grupo_delete' grupo.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No hay grupos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
