{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
{% if modifica_usuario_perm %}
<div class="row d-flex justify-content-center">
    <div class="col-6 col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-2 text-center">
        <h3 class="cuadro">Usuario <strong>{{ usuario }}</strong></h3>
    </div>
</div>
<div>
    <div class="row d-flex justify-content-around text-center">
        <h4 style="color: rgb(11, 125, 231);">{{accion}}</h4>
    </div>
    <hr>
    <div class="container cuadro col-10 col-xs-9 col-sm-9 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <form method="POST" class="row g-3">
            {% csrf_token %}
            <div class="col-12">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="col-12">
                {{form.last_name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.celular|as_crispy_field}}
            </div>
            <div class="col-2" style="margin-left: 15px;">
                Activo
                <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                    {{form.is_active|as_crispy_field}}
                </div>
            </div>
            <div class="col-2" style="margin-left: 15px;">
                Cliente
                <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                    {{ form.cliente|as_crispy_field }}
                </div>
            </div>
            <div class="col-12">
                {{form.email|as_crispy_field}}
            </div>
            <div class="col-12">
                {{form.password|as_crispy_field}}
            </div>
            <hr>
            <div class="row d-flex justify-content-around">
                <button type="submit" class="btn btn-info cuadro-boton col-5">Guarda</button>
                <a href="{% url 'usuarios' %}" class="btn btn-info cuadro-boton col-5">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script>
    $("#id_cliente").addClass('checkbox-large');
    $("#id_is_active").addClass('checkbox-large');
</script>
{% endif %}
{% endif %}
{% endblock %}