{% extends 'core/base.html' %}
{% block headJS %}
<script>
    // Esta función recarga la página cada 10 segundos
    setInterval(function() {
        location.reload();
    }, 10000); // 10000 ms = 10 segundos
</script>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h1>Lista de Canciones Pendientes</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Artista</th>
                    <th>Álbum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabla-canciones">
                {% for cancion in canciones %}
                <tr id="fila-{{ cancion.id }}">
                    <td>{{ cancion.titulo }}</td>
                    <td>{{ cancion.artista|default_if_none:"" }}</td>
                    <td>{{ cancion.album|default_if_none:"" }}</td>
                    <td class="text-start">
                        <a href="{% url 'cambiar_estatus_cancion' cancion.id  %}" class="btn btn-success btn-cambiar-estatus" >
                            Agrega a la lista
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay canciones pendientes</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
