{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Solicitar Música</h1>
    </div>
    <form>
        {% csrf_token %}
        <table class="col-12">
            <tr>
                <th class="text-end col-auto"><label for="id_cancion">Título de la Canción:</label></th>
                <td>
                    <input type="text col-auto" name="cancion" maxlength="255" id="id_cancion">
                </td>
            </tr>
            <tr>
                <th class="text-end"><label for="id_autor">Artista:</label></th>
                <td>
                    <input type="text" name="autor" maxlength="255" id="id_autor">
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-success" id="busca">Busca</button>
    </form>
    <table class="table table-striped table-bordered mt-3" id="canciones">
        <thead>
            <tr>
                <td>Artista</td>
                <td>Álbum</td>
                <td>Canción</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <label id="id_error" class="text-danger">No se encontró selección</label>
</div>
<script>
        $("#id_error").hide();
        document.getElementById('busca').addEventListener('click', function() {
            autor = $("#id_autor");
            cancion = $("#id_cancion");

            // Guardar los insumos seleccionados en la sesión (usando Django's session management)
            let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            valido = true;

            url = '';

            if (autor.val().trim() && cancion.val().trim()) {
                url = "/musica/listaCancionesTodas/" + autor.val().trim() + "/" + cancion.val().trim() + "/";
            } else if (autor.val().trim() && !cancion.val().trim()) {
                url = "/musica/listaCancionesAutor/" + autor.val().trim() + "/";
            } else if (!autor.val().trim() && cancion.val().trim()) {
                url = "/musica/listaCanciones/" + cancion.val().trim() + "/";
            } else {
                $("#id_error").show();
                valido = false;
            }
            if (valido) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',  // Especificar el tipo de contenido JSON
                    headers: {
                        'X-CSRFToken': csrftoken  // Agregar el token CSRF en los headers
                    },
                    dataType: 'json',
                    success: function (data) {
                        let tabla = $("#canciones tbody");
                        linea = 0;
                        tabla.empty();
                        $("#id_error").hide();

                        if (data.encontro) {
                            $.each(data.canciones, function(index, item) {
                                linea += 1;
                                coma = '';
                                artistas = '';
                                $.each(item.artista, function(index1, item1) {
                                    artistas += (coma + item1.name);
                                    coma = ", ";
                                });
                                album = item.album;
                                if (album == null) {
                                    album = 's/album';
                                }
                                let nuevaFila = ` 
                                    <tr id="fila_cancion_${linea}"> 
                                        <td >${artistas}</td>
                                        <td >${album}</td>
                                        <td >${item.nombre}</td>
                                        <td class="align-middle">
                                            <button class="btn btn-info btn-sm" onclick="cancionSeleccionada('${encodeURIComponent(item.uri)}','${artistas}','${item.nombre}','${album}')">Enviala</button>
                                        </td>
                                    </tr>
                                `;
                                tabla.append(nuevaFila);
                            });
                        } else {
                            $("#id_error").show();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error en AJAX:", error);
                        console.log("Respuesta del servidor:", xhr.responseText);  // Para ver el mensaje del servidor
                    }
                });
            }
        });
        function cancionSeleccionada(uri, artistas, nombre , album) {
            autor = $("#id_autor");
            cancion = $("#id_cancion");
            let tabla = $("#canciones tbody");

            let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            url = "/musica/ponEnLista/" + uri + "/" + artistas + "/" + nombre + "/" + album + "/";

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',  // Especificar el tipo de contenido JSON
                headers: {
                    'X-CSRFToken': csrftoken  // Agregar el token CSRF en los headers
                },
                dataType: 'json',
                success: function (data) {
                    tabla.empty();
                    autor.val('');
                    cancion.val('');
                    cancion.focus();
                    alert("Enviada, Gracias por ocupar nuestros servicios");
                },
                error: function (xhr, status, error) {
                    console.log("Error en AJAX:", error);
                    console.log("Respuesta del servidor:", xhr.responseText);  // Para ver el mensaje del servidor
                }
            });
        }
</script>
{% endblock %}